<%- include('../header') %>

<!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src=".../100px180/" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>  -->

<!-- <div class="alert alert-primary" role="alert">
  Projeto prático elaborado no workshop Fullstack lab da DevPleno
</div>
<div class="alert alert-primary" role="alert">
  Site para inclusão de categorias e publicações.
</div>
<a href="https://www.youtube.com/watch?v=GQ0_d_Y5Le8&list=PLBNBxpMAbyhXNIbnhpgDxkeSOS5E8aIqW" class="btn btn-primary" target="_blank"> Playlist do DevPleno</a> -->

<div class="container">
    <!-- Content here -->
  <div class="alert alert-primary" role="alert">
    Home
  </div>
  <div class="jumbotron">
    <h1 class="display-4">Como-Fazer</h1>
    <p class="lead">Projeto prático elaborado no workshop Fullstack Lab promovido pelo canal do Youtube DevPleno.</p>
    <hr class="my-4">
    <p>Foi criado um exemplo de um site em JavaScript que implementa CRUD.</p>
    <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=GQ0_d_Y5Le8&list=PLBNBxpMAbyhXNIbnhpgDxkeSOS5E8aIqW" role="button" target="_blank">Workshop do DevPleno</a>
  </div>      
</div>

<%- include('../footer') %>